<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="630f100f-f61d-4fe3-8486-02d69053112e" Alias="artists" Level="1">
  <Info>
    <Name>Artists</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Artists</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5a1366d1-4753-4c26-b861-b6220fccc9fc">Artists</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="84dfd5b8-863c-4185-92fd-da41e504d977" SortOrder="0">artist</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>