<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="739c3893-e73e-4229-8631-a8bf7523f9c2" Alias="genres" Level="1">
  <Info>
    <Name>Genres</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Genres</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6fd9ed6e-e06f-40d7-bc9c-e80e46b0cae8">Genres</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>