<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="927b0758-84c0-4431-9b10-f4945eded818" Alias="labels" Level="1">
  <Info>
    <Name>Labels</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Labels</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="dd387bb0-2b7f-4f19-a7ee-4180df105ba9">Labels</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>