body {
    font-family: 'Nunito', sans-serif;
    background: url(/img/stars-1.png) repeat;
    font-size: 0.9rem;
}

.main {
    padding: 1rem;
    background: url(/img/stars-3.png) repeat;
    border: 1px #15BDE4 solid;
    border-radius: 0 0 10px 10px;
    box-shadow: inset 0 0 2px 2px rgba(255, 255, 255, 0.9), 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

header {
}

header a {
    text-decoration: none;
    color: white;
}

header a h1 {
    word-break: keep-all;
    font-weight: bolder;
    font-size: 4rem;
    text-shadow: 4px 4px #19bde3, -2px -2px #19bde3, 2px -2px #19bde3, -2px 2px #19bde3;
}

header h1 {
    font-weight: bolder;
    font-size: 3.5rem;
}

.navbar {
    color: #FEFFFF;
}

.navbar a, .navbar a:hover {
    color: #FEFFFF;
}

.content {
    color: #3da7ba;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.content-red {
    background: rgba(230, 48, 60, 0.4);
}

.content-pink {
    background: rgba(243, 134, 175, 0.4);
}

.content-purple {
    background: rgba(169, 131, 188, 0.4);
}

.content-blue {
    background: rgba(53, 180, 233, 0.4);
}

.content-green {
    background: rgba(170, 213, 46, 0.4);
}

.content-yellow {
    background: rgba(254, 219, 39, 0.4);
}

.btn {
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 1px rgba(64, 64, 64, 0.75);
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover, .btn:focus, .btn:focus-visible {
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    background-position: 0 -15px;
    transition: background-position 0.1s linear;
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:active, .btn:first-child:active, :not(.btn-check) + .btn:active {
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-purple {
    background-image: linear-gradient(to bottom, #ccacdf, #a983bc);
}

.btn-purple, .btn-purple:hover, .btn-purple:focus, .btn-purple:focus-visible, .btn-purple:active,
.btn-purple:first-child:active, :not(.btn-check) + .btn-purple:active {
    color: #ffffff;
    background-color: #a983bc;
}

.btn-red {
    background-image: linear-gradient(to bottom, #ea5660, #e6303c);
}

.btn-red, .btn-red:hover, .btn-red:focus, .btn-red:focus-visible, .btn-red:active,
.btn-red:first-child:active, :not(.btn-check) + .btn-red:active {
    color: #ffffff;
    background-color: #e6303c;
}

.btn-blue {
    background-image: linear-gradient(to bottom, #67c5ed, #35b4e9);
}

.btn-blue, .btn-blue:hover, .btn-blue:focus, .btn-blue:focus-visible, .btn-blue:active,
.btn-blue:first-child:active, :not(.btn-check) + .btn-blue:active {
    color: #ffffff;
    background-color: #35b4e9;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
    background: url(/img/stars-2.png) repeat;
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    border: 1px #38aedc solid;
    box-shadow: inset 0 0 2px 2px rgba(255, 255, 255, 0.5);
}

h3 {
    font-size: 1.0rem;
    font-weight: bold;
    background: url(/img/stars-2.png) repeat;
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    border: 1px #38aedc solid;
    box-shadow: inset 0 0 2px 2px rgba(255, 255, 255, 0.5);
}

footer {
    color: white;
    background: url(/img/stars-2.png) repeat;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    border: 1px #38aedc solid;
    box-shadow: inset 0 0 2px 2px rgba(255, 255, 255, 0.5);
}

.navbar-toggler {
    color: white;
}

.navbar {
    background: url(/img/stars-2.png) repeat;
    border: 1px #D0F0FB solid;
    border-radius: 10px;
}

.navbar-header:after {
    content: "navigation";
}

li.nav-item {
    border-radius: 5px;
    padding: 4px;
    width: 100%;
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease-in-out;
}

li.nav-item:hover, li.nav-item:focus, li.nav-item:active {
    width: 115%;
    
    transition: all 0.2s ease-in-out;
}

li.nav-item a {
    padding: 3px;
    border-radius: 2.5px;
    border: solid 1px white;
    text-shadow: 1px 1px #33353a;
    font-weight: bold;
    color: white;
}

.nav-link:focus {
    color: white;
}

.nav-home {
    background-color: #E6303C;
    color: white;
    border: 1px solid #bc2630;
}

.nav-artists {
    background-color: #F386AF;
    color: white;
    border: 1px solid #b36280;
}

.nav-labels {
    background-color: #A983BC;
    color: white;
    border: 1px solid #725980;
}

.nav-genres {
    background-color: #35B4E9;
    color: white;
    border: 1px solid #2785ac;
}

.nav-contribute {
    background-color: #AAD52E;
    color: white;
    border: 1px solid #789721;
}

.nav-about {
    background-color: #FEDB27;
    color: white;
    border: 1px solid #bda31e;
}

.navbar-collapse {
    margin: 10px 0;
}

ul.navbar-nav {
    gap: 4px;
}

@media(min-width: 992px) {
    .navbar {
        background: none;
        border: none;
    }
    
    .navbar-header:after {
        content: "";
    }
    
    li.nav-item {
        width: 100%;
    }

    li.nav-item a {
        text-align: left;
    }
    
    .navbar-header {
        text-align: center;
        position: absolute;
        right: 8%;
        width: 40%;
        height: 100%;
        background: url(/img/stars-2.png) repeat;
        border: 1px #38aedc solid;
        box-shadow: inset 0 0 2px 2px rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        z-index: 2;
    }

    .navbar-collapse ul {
        justify-content: end;
    }
}

.artist-img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 5px;
    border: 1px #38aedc solid;
}

.table-container {
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: inset 0 0 2px 2px rgba(255, 255, 255, 0.5);
    background: url(/img/stars-2.png) repeat;
    border: 1px #38aedc solid;
    border-radius: 10px;
}