<?xml version="1.0" encoding="utf-8"?>
<Media Key="44334c0c-d7cc-46af-8d4a-50eb83110af0" Alias="801Aa11cddab0b78095513513a03c345" Level="3">
  <Info>
    <Parent Key="ab78649b-23d7-40d6-9ae4-b0a6be6e9c61">advantage Lucy</Parent>
    <Path>/Artists/advantageLucy/Aa11cddab0b78095513513a03c345</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-27T20:50:04</CreateDate>
    <NodeName Default="801Aa11cddab0b78095513513a03c345" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bjgdgrgm/801aa11cddab0b78095513513a03c345.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>