<?xml version="1.0" encoding="utf-8"?>
<Media Key="138523f0-c3e2-4b44-af52-2d1b66647d80" Alias="Ab4bfd069bce463b857951c46f45aeeb" Level="3">
  <Info>
    <Parent Key="ab78649b-23d7-40d6-9ae4-b0a6be6e9c61">advantage Lucy</Parent>
    <Path>/Artists/advantageLucy/Ab4bfd069bce463b857951c46f45aeeb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-27T20:50:04</CreateDate>
    <NodeName Default="Ab4bfd069bce463b857951c46f45aeeb" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4yrjke5c/ab4bfd069bce463b857951c46f45aeeb.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>