<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab78649b-23d7-40d6-9ae4-b0a6be6e9c61" Alias="advantage Lucy" Level="2">
  <Info>
    <Parent Key="0c383e0d-a3bd-47e4-a147-912d4a3625ea">Artists</Parent>
    <Path>/Artists/advantageLucy</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-24T15:53:43</CreateDate>
    <NodeName Default="advantage Lucy" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>