<?xml version="1.0" encoding="utf-8"?>
<Media Key="c972996a-dc0e-46b7-9a4b-39a2d57c73d4" Alias="B0a12fed2466bb0ab080db90b4b95330" Level="3">
  <Info>
    <Parent Key="ab78649b-23d7-40d6-9ae4-b0a6be6e9c61">advantage Lucy</Parent>
    <Path>/Artists/advantageLucy/B0a12fed2466bb0ab080db90b4b95330</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-24T15:53:59</CreateDate>
    <NodeName Default="B0a12fed2466bb0ab080db90b4b95330" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nsmhfsio/b0a12fed2466bb0ab080db90b4b95330.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>