<?xml version="1.0" encoding="utf-8"?>
<Media Key="c884afcb-e9cd-4cd5-8716-b79298203c0a" Alias="D4ee579a19fc4dd5923de42dd8d1f0ee" Level="3">
  <Info>
    <Parent Key="ab78649b-23d7-40d6-9ae4-b0a6be6e9c61">advantage Lucy</Parent>
    <Path>/Artists/advantageLucy/D4ee579a19fc4dd5923de42dd8d1f0ee</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-24T15:53:59</CreateDate>
    <NodeName Default="D4ee579a19fc4dd5923de42dd8d1f0ee" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zwxjjsgn/d4ee579a19fc4dd5923de42dd8d1f0ee.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>