<?xml version="1.0" encoding="utf-8"?>
<Content Key="63d0a37a-2215-4256-a92f-fe4874b73ecc" Alias="About" Level="2">
  <Info>
    <Parent Key="cc8044da-fbb3-47d5-a116-8b5b7d199684">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>about</ContentType>
    <CreateDate>2025-10-20T20:14:02</CreateDate>
    <NodeName Default="About" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="32900ebb-5900-4bee-908d-45501d424c26">About</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "markup": "<h2>About</h2>\n<p>This is the about page! This page will contain information about the website, its motivation, and thanks to everyone who has contributed to its development!</p>\n<h2>Credits</h2>\n<p>&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </content>
  </Properties>
</Content>