<?xml version="1.0" encoding="utf-8"?>
<Content Key="21ca4fdb-711d-4443-b3e6-007b837baea0" Alias="advantage Lucy" Level="3">
  <Info>
    <Parent Key="0cfcf6b7-45f8-43ce-973a-abedb4b8ae52">Artists</Parent>
    <Path>/Home/Artists/advantageLucy</Path>
    <Trashed>false</Trashed>
    <ContentType>artist</ContentType>
    <CreateDate>2025-10-20T20:34:35</CreateDate>
    <NodeName Default="advantage Lucy" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4209eb71-307e-43c3-8700-c16e6cdb03d3">Artist</Template>
  </Info>
  <Properties>
    <aliases>
      <Value><![CDATA[]]></Value>
    </aliases>
    <artistName>
      <Value><![CDATA[]]></Value>
    </artistName>
    <artistNameRomanized>
      <Value><![CDATA[]]></Value>
    </artistNameRomanized>
    <biography>
      <Value><![CDATA[]]></Value>
    </biography>
    <disbanded>
      <Value><![CDATA[]]></Value>
    </disbanded>
    <formed>
      <Value><![CDATA[]]></Value>
    </formed>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <links>
      <Value><![CDATA[]]></Value>
    </links>
  </Properties>
</Content>