<?xml version="1.0" encoding="utf-8"?>
<Content Key="0cfcf6b7-45f8-43ce-973a-abedb4b8ae52" Alias="Artists" Level="2">
  <Info>
    <Parent Key="cc8044da-fbb3-47d5-a116-8b5b7d199684">Home</Parent>
    <Path>/Home/Artists</Path>
    <Trashed>false</Trashed>
    <ContentType>artists</ContentType>
    <CreateDate>2025-10-20T20:12:21</CreateDate>
    <NodeName Default="Artists" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a1366d1-4753-4c26-b861-b6220fccc9fc">Artists</Template>
  </Info>
  <Properties />
</Content>