<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc358e17-aefd-4ac7-bb78-2fc166a813e4" Alias="Contribute" Level="2">
  <Info>
    <Parent Key="cc8044da-fbb3-47d5-a116-8b5b7d199684">Home</Parent>
    <Path>/Home/Contribute</Path>
    <Trashed>false</Trashed>
    <ContentType>contribute</ContentType>
    <CreateDate>2025-10-20T20:13:07</CreateDate>
    <NodeName Default="Contribute" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="35838b3c-3e2d-4067-bf30-f6c8fc06350d">Contribute</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "markup": "<h2>Contribute</h2>\n<p>This section is about contributing to the website!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </content>
  </Properties>
</Content>