<?xml version="1.0" encoding="utf-8"?>
<Content Key="1336a348-1c7e-4d56-8f54-84a15d6c5e88" Alias="Genres" Level="2">
  <Info>
    <Parent Key="cc8044da-fbb3-47d5-a116-8b5b7d199684">Home</Parent>
    <Path>/Home/Genres</Path>
    <Trashed>false</Trashed>
    <ContentType>genres</ContentType>
    <CreateDate>2025-10-20T20:12:36</CreateDate>
    <NodeName Default="Genres" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6fd9ed6e-e06f-40d7-bc9c-e80e46b0cae8">Genres</Template>
  </Info>
  <Properties />
</Content>