<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc8044da-fbb3-47d5-a116-8b5b7d199684" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-10-19T14:04:59</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="076d1af3-a9f2-4f60-a3c9-75e065bfcbd3">Home</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "markup": "<h2>Welcome!</h2>\n<p>Welcome to j-indies.net! :-) This is the home page. There might be some interesting stuff here in the future...</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </content>
  </Properties>
</Content>