<?xml version="1.0" encoding="utf-8"?>
<Content Key="3539fbfe-91c0-49e1-8f65-370cbd07522e" Alias="Labels" Level="2">
  <Info>
    <Parent Key="cc8044da-fbb3-47d5-a116-8b5b7d199684">Home</Parent>
    <Path>/Home/Labels</Path>
    <Trashed>false</Trashed>
    <ContentType>labels</ContentType>
    <CreateDate>2025-10-20T20:12:30</CreateDate>
    <NodeName Default="Labels" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dd387bb0-2b7f-4f19-a7ee-4180df105ba9">Labels</Template>
  </Info>
  <Properties />
</Content>